<p-blockUI [blocked]="blockedPanel">
    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
  </p-blockUI>
  
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
  
        <div class="ibox-title">
          <h5>{{title}}</h5>
        </div>
        <div class="ibox-content">
  
          <p-table #dt [tableStyle]="{'table-layout':'auto'}" [scrollable]="false" [scrollable]="true" scrollHeight="500px"
            styleClass=".ui-datatable-hor-scroll" [value]="notasFiscais" [loading]="desabiltarBusca" [paginator]="notasFiscais?.length > registroPagina"
            [rows]="registroPagina">
  
            <ng-template pTemplate="caption">
              <div class="ui-helper-clearfix">
                <!-- <button id="idbtn" class="btn-success btn btn-sm pull-left" ><i class="fa fa-file-o"></i>&nbsp;Novo</button>
   -->

   <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
        multiple="multiple" accept="image/*" maxFileSize="1000000">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
        </ul>
    </ng-template>
</p-fileUpload>
   
<br/>
                <button class="btn-info btn btn-sm pull-left" (click)="dt.exportCSV()"><i class="fa fa-download"></i>&nbsp;Exportar&nbsp;CSV</button>
  
              </div>
            </ng-template>
  
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">ID
                  <p-sortIcon field="id" ariaLabel="Ordenação" ariaLabelDesc="Ordenação descendente" ariaLabelAsc="Ordenação ascendente">
                  </p-sortIcon>
                </th>
  
                <th pSortableColumn="arquivo">Arquivo
                  <p-sortIcon field="arquivo" ariaLabel="Ordenação" ariaLabelDesc="Ordenação descendente" ariaLabelAsc="Ordenação ascendente">
                  </p-sortIcon>
                </th>
  
                <th pSortableColumn="dataimportacao">Data Importação
                  <p-sortIcon field="dataimportacao" ariaLabel="Ordenação" ariaLabelDesc="Ordenação descendente" ariaLabelAsc="Ordenação ascendente">
                  </p-sortIcon>
                </th>

                <th pSortableColumn="dataprocessamento">Data Processamento
                    <p-sortIcon field="dataprocessamento" ariaLabel="Ordenação" ariaLabelDesc="Ordenação descendente" ariaLabelAsc="Ordenação ascendente">
                    </p-sortIcon>
                  </th>
  
                <th></th>
              </tr>
  
            </ng-template>
  
            <ng-template pTemplate="body" let-nota>
              <tr>
                <td>{{nota.id}}</td>
                <td>{{nota.arquivo}}</td>
                <td>{{nota.dataimportacao}}</td>
                <td>{{nota.dataprocessamento}}</td>
                <td class="text-center">
                  <div>
                    <button class="btn-warning  btn btn-sm"><i class="fa fa-file-text-o"></i>&nbsp;Processar</button>&nbsp;
                    <button class="btn-danger  btn btn-sm"><i class="fa fa-eraser"></i>&nbsp;Excluir</button>
                  </div>
                </td>
              </tr>
  
            </ng-template>
          </p-table>
  
        </div>
      </div>
    </div>
  </div>